button {
  background-color: #eee;
  border: none;
  padding: 5px;
  outline: none;
  margin: 0;
}
.scrollable--container {
  width: 400px;
  height: calc(50vh - 0px);
  background: #eee;
  overflow-y: auto;
}
body {
  padding: 0;
  margin: 0;
}
.App > * {
  margin: 5px;
}
